body:not(.rtl) .elementor-121 .elementor-element.elementor-element-f642eb6 {left: 0px;}
body.rtl .elementor-121 .elementor-element.elementor-element-f642eb6 {right: 0px;}
.elementor-121 .elementor-element.elementor-element-f642eb6 {top: 80px;}